<!--<p id="notice"><%= notice %></p>-->

<!-- <h1>Profile</h1> -->

<div class="row">
  <!--customers.find-->
  <% @customers.each do |customer| %>
    <div class="col-xs-6">
      <div class="thumbnail">
        <%= image_tag customer.avatar.url(:medium) %>
      </div>
    </div>
    <div class="col-xs-8">
      <p>
        <strong>Occupation:</strong>
        <%= customer.occupation %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= customer.birthday.strftime("%e %B %Y") %>
      </p>

      <!-- hidden field -->
      <!-- <p>
        <strong>Customer:</strong>
        <%= customer.customer_id %>
      </p> -->

      <!-- <p>
        <strong>Email:</strong>
        <%= customer.email %>
      </p> -->

      <%= link_to 'Edit', edit_customer_path(customer) %>
    </div>
  <% end %>
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Profile Picture</th>
      <th>Customer Id</th>
      <th>Email</th>
      <th>Occupation</th>
      <th>Birthday</th>
      <th>Shop domain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.avatar.url(:medium) %></td>
        <td><%= customer.customer_id %></td>
        <td><%= customer.email %></td>
        <td><%= customer.occupation %></td>
        <td><%= customer.birthday %></td>
        <td><%= customer.shop_domain %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 

<%= link_to 'New Customer', new_customer_path %> -->
