<!--<p id="notice"><%= notice %></p>-->

<!-- <h1>Profile</h1> -->

<div class="row">
  <!--customers.find-->
  <% @customers.each do |customer| %>
    <div class="col-xs-6">
      <div class="thumbnail">
        <%= image_tag customer.avatar.url(:medium) %>
      </div>
    </div>
    <div class="col-xs-8">
      <p>
        <strong>Occupation:</strong>
        <%= customer.occupation %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= customer.birthday.strftime("%e %B %Y") %>
      </p>

      <!-- hidden field -->
      <!-- <p>
        <strong>Customer:</strong>
        <%= customer.customer_id %>
      </p> -->

      <!-- <p>
        <strong>Email:</strong>
        <%= customer.email %>
      </p> -->

      <%= link_to 'Edit', edit_customer_path(customer) %>
    </div>
  <% end %>
</div>


